@font-face {
  font-family: "PlantagenetCharokee";
  src: url("fonts/PlantagenetCharokee.woff2") format("woff2-variations"), url("fonts/PlantagenetCherokee.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

html, body {
  background-color: #dedfde;
  color: #400D01;
  font-family: "PlantagenetCharokee", serif;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}

.e29_wordmark {
  display: inline-block;
  font-size: 36px;
  color: #734E40;
}

.e29_subtitle {
  display: inline-block;
  font-size: 18px;
  margin-left: 12px;
  color: #400D01;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.content {
  padding: 2em;
}

.main-nav a {
  color: #400D01;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
}

.main-nav {
  margin-top: 5px;
}

.logo a,
.main-nav a {
  padding: 4px 30px;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #400D01;
  font-size: 0.99em;
}

.main-nav a:hover {
  text-decoration: underline;
}

.header {
  padding-top: 0.25em;
  padding-bottom: 0.125em;
  background-color: #e8e9e8;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.35);
}

.contact {
  max-width: 600px;
  margin: 0 auto;
}
.contact p {
  margin-bottom: 40px;
}

.contact_form input, .contact_form textarea {
  display: block;
  width: 450px;
  margin-bottom: 20px;
  min-height: 40px;
  padding: 10px 10px 8px 10px;
  border-radius: 4px;
  border: 1px solid #d9cfcc;
  color: #400D01;
  font-family: "PlantagenetCharokee", serif;
  font-size: 0.875em;
  outline: #CA6D50;
}

footer {
  border-top: 1px solid #8c6e67;
  margin-top: auto;
}

.copyright {
  text-align: right;
  width: 95%;
  margin: 0 auto;
  max-width: 1150px;
  padding-top: 8px;
  opacity: 0.5;
  font-size: 14px;
}

/* =================================
  Media Queries
==================================== */
@media (min-width: 769px) {
  .header, .main-nav, main {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header .header {
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
  }
}
@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
