@font-face {
  font-family: "PlantagenetCherokee";
  src: url("PlantagenetCherokee.woff2") format("woff2-variations"), url("PlantagenetCherokee.ttf") format("truetype");
}
html, body {
  background-color: #f2f1ee;
  color: #400D01;
  font-family: "PlantagenetCherokee", serif;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}

.stdPad {
  padding: 1.5em 1.5em;
}

a {
  color: #b95935;
}

a:hover {
  color: #7C3221;
}

a:visited {
  color: #b95935;
}

button.galleryCTA {
  color: #b95935;
  border: 1px solid #b95935;
  background-color: #f1ded7;
  border-radius: 0;
  font-size: 1.125em;
  text-transform: uppercase;
  padding: 1em 1em 2em 1em;
}

.navbar {
  max-height: 100px;
  position: relative;
  border-bottom: 1px solid #e1d8cf;
}
.navbar .brandBlock {
  padding: 1em 1em;
  margin-top: 0.25em;
}
.navbar .brandBlock h1, .navbar .brandBlock h2 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}
.navbar .brandBlock h1 {
  font-size: 1.25em;
}
.navbar .brandBlock h2 {
  color: #b95935;
  font-size: 1.125em;
}
.navbar .brandBlock:hover {
  cursor: pointer;
  opacity: 0.5;
}
.navbar .menu__links a {
  color: #400D01;
  margin-top: 1.375em;
  padding-right: 1em;
  padding-left: 1em;
}
.navbar .menu__links a:hover {
  color: #b95935;
}

.heroQuestion {
  margin-top: 0;
}

.contact_note {
  margin-top: 2em;
}

footer {
  border-top: 1px solid #e1d8cf;
  font-size: 0.75em;
}
footer .social {
  text-align: left;
}
footer .copyright {
  text-align: right;
}

a.underline {
  text-decoration: underline;
}

/* Carousel styles */
.carousel {
  padding: 2em 0 1em;
}

.fadein {
  position: relative;
  height: 640px;
  max-height: 640px;
}

.fadein img {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  animation-name: fade;
  animation-duration: 48s;
  animation-iteration-count: infinite;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  6.25% {
    opacity: 1;
  }
  16.6666666667% {
    opacity: 1;
  }
  22.9166666667% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.fadein img:nth-child(1) {
  animation-delay: 0s;
}
.fadein img:nth-child(2) {
  animation-delay: 8s;
}
.fadein img:nth-child(3) {
  animation-delay: 16s;
}
.fadein img:nth-child(4) {
  animation-delay: 24s;
}
.fadein img:nth-child(5) {
  animation-delay: 32s;
}
.fadein img:nth-child(6) {
  animation-delay: 40s;
}

.wrapped {
  border: 1px solid #c8c0b8;
}

#contact_modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__window {
  position: relative;
  background-color: white;
  max-width: 800px;
}

.modal__header {
  padding: 1em;
  border-bottom: 1px solid #c8c0b8;
}
.modal__header h2 {
  margin: 0;
}

.modal__close {
  position: absolute;
  top: 1em;
  right: 1em;
  color: #400D01;
}

.modal__close:hover {
  color: #79564d;
}

#contact_modal:not(:target) {
  visibility: hidden;
  opacity: 0;
}

.contactDetails {
  padding: 2em 1.75em 1em 1.75em;
}

.contactDetails__separator {
  border-right: 1px solid #c8c0b8;
  min-height: 480px;
}

.contact__form {
  padding: 2em 1em;
}
.contact__form .contact__btn {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.tablet_img {
  display: none;
}

a.e29Btn, .contact__btn {
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  height: 3em;
  line-height: 3em;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
}
a.e29Btn:hover, .contact__btn:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
a.e29Btn:active, .contact__btn:active {
  opacity: 0.5;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1025px) {
  .fadein {
    height: 497px;
    max-height: 497px;
  }
  .tablet_img {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
}
@media only screen and (max-width: 769px) {
  .tablet_img {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .brandBlock h1 {
    font-size: 1.125em !important;
  }
  .stdPad {
    padding: 0em 1em;
  }
  .carousel {
    padding: 2em 0 0em 0;
    margin-bottom: 2em;
  }
  .contact__mobile {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .contact__btn {
    margin-top: 0.5em;
  }
  footer {
    padding-top: 1em;
  }
  footer .social {
    text-align: center;
    margin-bottom: 0.5em;
  }
  footer .copyright {
    text-align: center;
    margin-bottom: 0.5em;
  }
  .mobile__spacer {
    height: 2em;
  }
  .navbar-mobile_menu {
    width: 100vw;
  }
  .navbar-mobile_menu a {
    display: inline-block;
  }
  .tablet_img {
    display: none;
  }
}
